.container {
  padding: 40px;
}

.container > h1 {
  margin-top: 0;
}

.container > p {
  text-align: center;
  font-size: 24px;
  color: #666;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1150px;
  margin: 0 auto;
}

.projects > a {
  margin: 20px;
  min-width: 200px;
}

@media (max-width: 767px) {
  .container > p {
    font-size: 20px;
  }
}
