.container {
  background: var(--bgAlt);
  padding-bottom: 10px;
}

.arrowButton {
  position: absolute;
  z-index: 2;
  top: calc(50% - 18px);
  width: 36px;
  height: 36px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0;
}

.arrowButton:hover {
  color: #2196f3;
}

.arrowButton > svg {
  font-size: 36px;
}

.review {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  margin: 40px 20px;
  box-shadow: 0 0 3px #999;
  height: calc(100% - 84px);
}

.review > p:nth-of-type(1) {
  font-weight: bold;
  text-decoration: underline;
  font-size: 24px;
  margin: 0;
}

.review > p:nth-of-type(2) {
  font-style: italic;
  margin: 8px 0 16px 0;
}

.review > p:nth-of-type(3) {
  margin: 0;
  color: #666;
  margin-bottom: 4px;
}

.openQuote {
  font-size: 28px;
}

@media (max-width: 767px) {
  .reviewsWide {
    display: none;
  }

  .review {
    margin: 40px 75px;
  }
}

@media (min-width: 768px) {
  .reviews {
    display: none;
  }
}
