.container {
  background: var(--bgAlt);
}

.content {
  display: flex;
  padding: 40px 40px 40px 60px;
  max-width: 1150px;
  margin: 0 auto;
}

.content > div {
  width: 50%;
}

.info {
  padding-right: 16px;
}

.info > h1 {
  margin: 0;
  font-size: 2em;
}

.info > p {
  color: #666;
  font-size: 24px;
  line-height: 36px;
}

.splash {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: bob 2s ease-in-out infinite alternate-reverse both;
  padding-left: 16px;
}

@keyframes bob {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media (max-width: 575px) {
  .info > h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 767px) {
  .content {
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }

  .content > div {
    width: 100%;
  }

  .info {
    padding-right: 0;
    margin-bottom: 16px;
  }

  .splash {
    padding-left: 0;
  }

  .info > p {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  .info > h1 {
    margin-top: 0;
  }
}
